<html>
  <%= erb :stationery_styles %>
  <body>
    <div class="container">
      <div class="message">
        <div class="subject">
          <%= @subject %>
        </div>
        <div class="subject-divider"></div>
        <%= @body.to_s.gsub(/\n/, "<br/>") %>
      </div>
      <div class="flap"></div>
      <div class="envelope">
        <div class="header">
          <div class="header-intro">
            Message de
          </div>
          <div class="header-from">
            <%= @sender %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
