<html>
  <%= erb :stationery_styles %>
  <body>
    <div class="container">
      <div class="message">
        <div class="subject">
        	Message de<br/>
        	<%= @sender %>
			obj: <%= @subject %>
        </div>
        <div class="subject-divider"></div>
        <%= @body.to_s.gsub(/\n/, "<br/>") %>        
      </div>
    </div>
  </body>
</html>
